@model CSIMediaTest.ViewModels.SequenceResultViewModel

@{
    ViewBag.Title = "SequenceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/sort-table.js"></script>

<h3>Your Sequence's result</h3>
<!--Table to display new sequence-->
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.NewSequence.NewSequence)</th>
        <th>@Html.DisplayNameFor(model => model.NewSequence.Direction)</th>
        <th>@Html.DisplayNameFor(model => model.NewSequence.TimeTaken) ms:</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.NewSequence.NewSequence)</td>
        <td>@Html.DisplayFor(model => model.NewSequence.Direction)</td>
        <td>@Html.DisplayFor(model => model.NewSequence.TimeTaken)</td>
    </tr>
</table>

<!--Go to index-->
<h4>Enter a new sequence</h4>
<input type="button" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />
<br />

<h3>Database's Sequences</h3>
<!--Table to display all sequences with sort-->
<table class="table" id="displayTable">
    <tr>
        <th>@Html.DisplayNameFor(model => model.NewSequence.NewSequence)</th>
        <th>@Html.DisplayNameFor(model => model.NewSequence.Direction)</th>
        <th class="orderlink" onclick="sortTable(2)"> @Html.DisplayNameFor(model => model.NewSequence.TimeTaken) ms:</th>
    </tr>
    @foreach (var item in Model.Sequences)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NewSequence)</td>
            <td>@Html.DisplayFor(modelItem => item.Direction)</td>
            <td>@Html.DisplayFor(modelItem => item.TimeTaken)</td>
        </tr>
    }
</table>
<br />
<!--Export sequences as XML file-->
<h4>Export database</h4>
<input type="button" value="Export" onclick="location.href='@Url.Action("Export", "SequenceList")'" />